*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(181, 77, 255);
}
.container{
    width: 95%;
    height: 100vh;
    text-align: center;
    display: flex;
}
.container .quotes{
    width: 900px;
    height: 450px;
    background: #ccc;
    color: rgb(92, 92, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 0 50px;
    border: 10px solid rgb(132, 0, 255);
}
.quotes p,.quotes h3{
    font-size: 1.5rem;
}
button{
    margin-bottom: 40px;
    margin-top: 5px;
}
@media(max-width:480px){
    .quotes p,.quotes h3{
        font-size: 1rem;
    }
}